<link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>


<h1>Employee Age by Band</h1>
<br><br>


<div class="row">
<div class="span4">
<table class="table table-bordered">
  <thead>
    <tr>
        <th>Age Band (Years)</th>
        <th>Number of Employees</th>
    </tr>
  </thead>
<tbody>
<% @employee_age_by_bands.each do |employee_age_by_band| %>
  <tr>
        <td><%= employee_age_by_band.ageband %></td>
        <td><%= employee_age_by_band.number_of_employees %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
        <div class="span8">
                <%= content_tag :div, "", id: "age_chart", data: {employee_age_by_bands: @employee_age_by_bands} %>
        </div>
</div>

<script>
Morris.Bar({
          element: 'age_chart',
	  data:[{"ageband":"Unknown","number_of_employees":590},{"ageband":"31-40","number_of_employees":1065},{"ageband":"41-50","number_of_employees":918},{"ageband":"51-60","number_of_employees":1589},{"ageband":"Below 30","number_of_employees":310},{"ageband":"Over 60","number_of_employees":505}],
          xkey: 'ageband',
          ykeys: ['number_of_employees'],
          labels: ['Number Of Employees'],
          hideHover: 'true',
  barColors: function (row, series, type) {
    if (type === 'bar') {
      var blue = Math.floor(255 * row.y / this.ymax);
      return 'rgb(' + blue + ',0,0)';
    }
    else {
      return '#000';
    }
  }
});

</script>















