<link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>


<h1>Doctors by Gender</h1>
<br><br>


<div class="row">
<div class="span5">
<table class="table table-bordered">
  <thead>
    <tr>
        <th>Gender</th>
        <th>Number of Employees</th>
    </tr>
  </thead>
<tbody>
<% @emp_gen_views.each do |emp_gen_view| %>
  <tr>
        <td><%= emp_gen_view.gender %></td>
        <td><%= emp_gen_view.number_of_employees %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
	<div class="span4">
		<div id="gen_chart" style="height: 250px;"></div>
	</div>

</div>

<script>

Morris.Donut({
  element: 'gen_chart',
  data: [
    {label: "Male", value: 3887},
    {label: "Female", value: 1086}
  ]
});

</script>


